@font-face{
    src: 'fonts/cambria.ttf';
    font-family: 'Cambria';
}

@font-face{
    src: 'fonts/cambria-bold.ttf';
    font-family: 'CambriaBold';
}

/* Connect font "Tahoma-Regular"; */
@font-face {
    font-family: 'Tahoma';
    src: local("Tahoma"), local("TahomaRegular"),
        url('../fonts/Tahoma-Regular/Tahoma-Regular.eot');
    url('../fonts/Tahoma-Regular/Tahoma-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Tahoma-Regular/Tahoma-Regular.woff') format('woff'),
    url('../fonts/Tahoma-Regular/Tahoma-Regular.ttf') format('truetype'),
    url('../fonts/Tahoma-Regular/Tahoma-Regular.svg#Tahoma-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

/* Connect font "Tahoma-Bold"; */
@font-face {
    font-family: 'TahomaBold';
    src: local("Tahoma"), local("TahomaBold"),
        url('../fonts/Tahoma-Bold/Tahoma-Bold.eot');
    url('../fonts/Tahoma-Bold/Tahoma-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Tahoma-Bold/Tahoma-Bold.woff') format('woff'),
    url('../fonts/Tahoma-Bold/Tahoma-Bold.ttf') format('truetype'),
    url('../fonts/Tahoma-Bold/Tahoma-Bold.svg#Tahoma-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-family: 'Tahoma', Arial; /* TahomaRegular */
}

a:focus,
a:active,
a:hover{
    text-decoration: none;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* transform: skewY(40deg); */

/* fonts, colors, size */
.page-title .title,
.page-title .sub-title{
    font-family: 'Cambria', Arial;
}

.page-title .title{
    font-size: 100px;
    color: black;
    margin-left: 20px;
}

.container{
    width: 100%;
    margin: auto;
}

.page .container{
    padding-top: 130px;
}

body{
    background-color: white;
    overflow-x:hidden;
}

.allotted{
    color: red;
}

.grid{
    display: grid;
}




